/*========== GOOGLE FONTS ==========*/

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #ffffff;
  --header_color: #c73232;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header_color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon,
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
  /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list,
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

/* .nav__logout {
  margin-top: 5rem;
} */

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }

  .header {
    padding: 0 3rem 0 6rem;
  }

  .header__container {
    height: calc(var(--header-height) + .5rem);
  }

  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }

  .header__toggle {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }

  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px;
    /* Reduced navbar */
  }

  .nav__items {
    row-gap: 1.7rem;
  }

  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name,
  .nav__name,
  .nav__subtitle,
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }




  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }

  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }

  .nav:hover .nav__subtitle {
    opacity: 1;
  }

  .nav:hover .nav__name {
    opacity: 1;
  }

  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }



  /* Navbar expanded by defaut for modif */
  /* .nav {
      width: var(--nav-width);
    }
      .nav .nav__logo-name {
      opacity: 1;
    }
  
    .nav .nav__subtitle {
      opacity: 1;
    }
  
    .nav .nav__name {
      opacity: 1;
    }
  
    .nav .nav__dropdown-icon {
      opacity: 1;
    } */


  /***************************** Mon table perso *****************************/
  .my_tab_perso {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0px 10px 0px 10px;
    font-size: 70%;
  }

  .my_tab_perso td,
  .my_tab_perso th {
    border: 1px solid #ddd;
    padding: 8px;
  }



  /* pour une ligne sur deux en grisé , even pour les lignes paires */
  .my_tab_perso tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .my_tab_perso tr:hover {
    background-color: #ddf0ff;
  }

  .my_tab_perso .th0 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0c0c0;
    color: white;
  }

  .my_tab_perso .th1 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff6e6e;
    color: white;
  }

  .my_tab_perso .th2 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff67f2;
    color: white;
  }

  .my_tab_perso .th3 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #67b3ef;
    color: white;
  }

  .my_tab_perso .td_n1 {
    background-color: #fcdada;
  }

  .my_tab_perso .td_n {
    font-weight: bold;
  }

  .my_tab_payplan .td_options {
    background-color: #fbff92;
  }



  /* PAYPLAN */

  .div_payplan_update {
    width: 100%;
    height: auto;
    margin: 20px;
    border: #c537a4 0px solid;
    display: flex;
    flex-direction: row;
  }

  .div_payplan_update1 {
    width: 30%;
    height: auto;
    margin: 20px;
    border: #c537a4 0px solid;
    display: flex;
    flex-direction: row;

  }

  .div_payplan_update2 {
    width: 70%;
    height: auto;
    margin: 20px;
    border: #c537a4 0px solid;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;

  }

  .my_tab_payplan {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0px 10px 0px 10px;
    font-size: 60%;
  }

  .my_tab_payplan td,
  .my_tab_payplan th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .my_tab_payplan .th1 {
    text-align: left;
    background-color: #ff6e6e;
    color: white;
  }

  .payplan_collaborateurs_option {
    background-color: #ffffff;
    color: rgb(15, 15, 15);
  }



  /* FIN PAYPLAN */



  /**********************************************************/


  .my_form_stats_loc {
    width: 100%;
    height: 120px;
    border: #19181B 1px solid;
    margin-top: 20px;
  }

  .my_form_marge {
    width: 100%;
    height: 120px;
    border: #19181B 1px solid;
    margin-top: 20px;
  }

  .my_form_payplan {
    width: 100%;
    height: auto;
    border: #19181B 0px solid;
    border-radius: 20px;
    margin: 10px;
    background-color: #F5F5DC;
  }

  .my_select_stats {
    background-color: #e5e5e5;
  }

  .my_div_form {
    width: auto;
    height: auto;
    margin: 20px;
    border: #c537a4 0px solid;
    display: inline-block;
  }

  .my_div_recherche {
    width: auto;
    height: auto;
    margin: 20px;
    border: #c537a4 0px solid;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }

  .my-last-div-form {
    width: auto;
    height: auto;
    border: #c537a4 0px solid;
    margin: 30px;
    right: 200px;
    display: inline-block;
    position: absolute;
  }

  .opt1 {
    background: rgb(251, 81, 81);
    color: #fff;
    font-style: normal;
    font-weight: bold;
  }

  .opt2 {
    background: rgb(254, 181, 141);
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
  }

  .my_option_select:hover {
    background: #67b3ef;
    background-color: #67b3ef;
    color: #67b3ef;
  }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 45px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(63, 63, 63);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

#accueil_div {
  width: 100%;
  text-align: center;
}

#modif_agence_1_row *[class^="col"] {
  color: red;
  border: 1px solid #58555E;
  border-radius: 10px;
  margin: 10px;
}

#modif_agence_1_row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* #first_row_modif_agence *[class^="col"] {
   background-color: #c0c0c0; 
} */

#container_body_modif_agence {
  width: 100%;
  border: 5px solid #c537a4;
  padding: 20px;
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
}

.container_form_recherche {
  padding: 10px;
  background-color: #e3e3e3;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border: 3px solid #e3e3e3;
  margin-top: 10px;
  align-items: flex-start;

}

.element_filtre {
  margin-bottom: 5px;
}

.container_form_ajout {
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 3px solid #fe8f8f;
  height: 800px;
}

.div_form_ajout {
  margin: 10px;
}


#column_gauche_mofig_agence {
  width: 70%;
  border: 3px solid #37c543;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#column_droite_mofig_agence {
  width: 30%;
  border: 3px solid #1f7726;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#div_localisation {
  width: 100%;
  height: 400px;
  border: 3px solid #771f1f;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

#titre_localisation {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 3px solid #771f1f;
  background-color: #797171;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#contenu_localisation {
  width: 100%;
  height: 90%;
  border: 3px solid #771f1f;
  padding: 20px;
  display: flex;
  border-radius: 5px;
}

#div_localisation_gauche {
  width: 50%;
  border: 2px solid #654fe0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#div_localisation_droite {
  width: 50%;
  border: 2px solid #654fe0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}


#div_collaborateurs {
  width: 100%;
  height: 400px;
  border: 2px solid #a52e34;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

#collaborateurs_titre {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 2px solid #a52e34;
  background-color: #a52e34;
  display: flex;
  border-radius: 5px;
}

#collaborateurs_contenu {
  width: 100%;
  height: 100%;
  border: 2px solid #a52e34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;

}

#collaborateurs_contenu>#collaborateurs_locations {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #a52e34;
}


#collaborateurs_locations>#collaborateurs_locations_chef_agence {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #a52e34;
}

#collaborateurs_locations>#collaborateurs_locations_agents {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #a52e34;
}

#collaborateurs_contenu>#collaborateurs_commercial {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #a52e34;
}

#collaborateurs_contenu>#collaborateurs_cvo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #a52e34;
}





#contact_contenu {
  width: 100%;
  height: 250px;
  border: 2px solid #da5ebb;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

#contact_titre {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 3px solid #da5ebb;
  background-color: #c5aaba;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

#contact_numero {
  width: 100%;
  height: 45%;
  align-items: center;
  justify-content: center;
  border: 2px solid #da5ebb;
  display: flex;
  flex-direction: column;
}

#contact_email {
  width: 100%;
  height: 45%;
  align-items: center;
  justify-content: center;
  border: 2px solid #da5ebb;
  display: flex;
  flex-direction: column;
}


#div_code_agence {
  width: 100%;
  height: 200px;
  border: 2px solid #f161c1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}


#titre_code_agence {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #da5ebb;
  background-color: #c5aaba;
  padding: 20px;
  border-radius: 5px;
}

#contenu_code_agence {
  width: 100%;
  height: 90%;
  border: 3px solid #da5ebb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


#contenu_code_agence>#code_vp {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #da5ebb;
}

#contenu_code_agence>#code_vu {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #da5ebb;
}

#contenu_code_agence>#code_gare {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #da5ebb;
}